body{
    background: wheat;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
main{
    width: 60%;
    height: 1000px;
    margin: 15px auto;
    background-image: url(../imagens/imagens/capa-ini.jpg);
    background-position:center bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 8px ;
    justify-content: center;
    align-content: center;
    position: relative;
   
}
span{
    color: rgb(179, 55, 55);
}
h1{
    text-shadow: 5px 5px 5px black;
    color: rgb(25, 142, 163);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    
}

p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
a{
    text-decoration: none;
    background-color: #555;
    padding: 10px;
    margin-right:13px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 0px 2px black;
}
a:hover{
    box-shadow: none;
    background: #333;
}
@media only screen and (max-width: 1000px){
   main{
    background-size: 100% 100%;
    position: fixed;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
   }
   h1{
    font-size: 40px;
   }
}

