body{
    margin: 0;
    background-color: wheat;
    font-family:  Arial, Helvetica, sans-serif;
}
main{
    width: 60%;
    margin: 15px auto;
    background-color:#7681a1 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1000px;
    box-shadow: 3px 3px 8px #333;
    border-radius: 10px;
}
section{
    width: 96%;
    margin: 0 auto;
   
}
#b{
    border-bottom: none;
}
nav{
    border-top: outset black 1px;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-weight:700;
    font-size: 18px;
}
nav div a{
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
}
nav div a:hover{
     box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
}
#criador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin:  0 auto;
}
#criador a{
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
}
#criador a:hover{
     box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
}
img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
h2,h1{
    text-align: center;
}
@media only screen and (max-width: 1000px){
    main{
        width: 97%;
        height: auto;
    }
    #criador{
        width: 80%;
    }
    nav div{
        width: 80%;
    }
}
@media only screen and (max-width: 400px){
    nav div{
        width: 80%;
        padding: 0 5px;
        font-size: 15px;}

}
@media only screen and (max-width: 270px){
    nav{
        display: none;
    }
   

}

