body{
    margin: 0;
   font-family: "lora", sans-serif;
    font-weight: 600;
    background-color: wheat;
}
main{
    width: 60%;
    margin: 15px auto;
    background: #7681a1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #333;
}
nav{
    width: 100%;
    overflow: hidden;
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-weight:700;
    font-size: 18px;
   
}


nav a{
   text-decoration: none;
   color: white;
   background: rgba(0, 0, 0, 0.4);
   padding: 8px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px #333;
}
nav a:hover{
    box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
}
#topo{
    border-bottom: outset black 1px;
}
#fim{
    border-top: outset black 1px;
}
header{
    text-align: center;
}
.cards:hover{
    background-color: #36383f;
}

h1,h3{
    color: #1A1D26;
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-style: italic;
}
h2{
    color: rgb(148, 25, 25);
}
ul{
    text-align: left;
}
#fundo-cards{
    width: 95%;
    margin: 0 auto;
    
    
}
.cards2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cards{
   border: outset black 1px;
   border-radius: 8px;
   width: 48%;
   margin: 10px 0;
   text-align: center;
   padding: 2px;
   overflow: hidden;
}
#cardnone{
    display: none;
}
.cards a{
    text-decoration: none;
    color: black;
}


@media only screen and (max-width: 1000px){
    main{
        width: 97%;
    }
    nav div{
        width: 90%;
    }
}
@media only screen and (max-width: 400px){
    nav div{
        width: 100%;
        padding: 0 5px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 270px){
    nav{
        display: none;
    }
    main{
        height: 800px;
    }
}