body {
    margin: 0;
    background-color: wheat;
    font-family: "lora", sans-serif;
}

main {
    width: 60%;
    margin: 15px auto;
    background-color: #7681a1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #333;
    overflow: hidden;
}
header{
    text-align: center;
    font-size: 20px;
}

nav {
    width: 100%;
    overflow: hidden;
   
}
nav div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-weight:700;
    font-size: 18px;
   
}

#nav-cima {
    border-bottom: outset black 1px;
}

#nav-baixo {
    border-top: outset black 1px;
}
nav p a {
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #333;
}
nav p a:hover{
    box-shadow: none;
    background: rgba(0, 0, 0, 0.6);
}
section{
    padding: 10px;
}
section p{
    letter-spacing:1px;
    font-size: 18px;
}
h1{
    color: #1A1D26;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-style: italic;
}
img{
    width: 90%;
    height: 400px;
    text-align: center;
    margin:0 auto;
    display: block;
    border-radius: 7px;
    box-shadow: 0px 0px 5px black;
}
@media only screen and (max-width: 1000px){
    main{
        width: 100%;
    }
    nav div{
        width: 90%;
    }
}
@media only screen and (max-width: 400px){
    nav div{
        width: 80%;
        padding: 0 5px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 270px){
    nav{
        display: none;
    }

}

